@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('./reset.css');
@import url('./transition.css');

@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

* {
  font-family: v-sans, 'Noto Sans JP', sans-serif;
}
